body{
    background-size: contain;
}
.copy_right_footer{
    position: fixed;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    background-color: #6c757d;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}
.myModal{
    color: black;
}

#main{
    color: white;
}

#rules, #start, #restart{
    background-color: #c08ce1;
}